## Markdown

In [40]:
## code 
a = 5
b = 6
print(a+b)
print('kelas dari b adalah',type(b))

11
kelas dari b adalah <class 'int'>

In [41]:
x = 5
y = 0

if x > y : 
    print("true")

if x > 0 : 
    print("bener")

## tupple
if True : (
    print("bener"),
    
    print("gabener")
)
    
# code block nested
if True :
    print("ya")
    if False :
        print("no")

true
bener
bener
gabener
ya

In [42]:
if "foo" in ["foo", "bar", "baz"]:
    print("outer cond benar")
    
    if 10 < 20:
        print("cond a")
    
if False : 
    print("a")
else:
    print("b")    
    
# one line
if True: print("a"), print("b")
if True: print("x"); print("y")

outer cond benar
cond a
b
a
b
x
y

In [43]:
harga_buku = 20000
harga_komik = 5000
uang = 2000

if uang > harga_buku:
    print("beli buku")
elif uang > harga_komik:
    print("beli komik")
else: 
    print("uang ga cukup")

uang ga cukup

## Ternary

In [44]:
age = 24 
s = "teen" if age < 21,

SyntaxError: expected 'else' after 'if' expression (2468101057.py, line 2)

In [ ]:
age = 24
if age < 21:
    s = "teen"
else:
    s = "old"
s

'old'

## pass

In [45]:
## pass untuk skip code

if True: 
    pass
print("a")

a

## While Loop

In [52]:
a = 0
while a < 5: 
    print("terus")
    a -= -1
    print(a)

terus
1
terus
2
terus
3
terus
4
terus
5

## break and continue

In [53]:
while True:
    print("di dalam while")
    break 
print("di luar while")

di dalam while
di luar while

## Truthly and Falsy

In [56]:
print(bool(5))
print(bool(True))   
print(bool(False))

print("=" * 8)

print(bool("o"))

True
True
False
========
True

In [57]:
a = ["foo", "bar"]
print(a)
print(a.pop())
print(a)

['foo', 'bar']
bar
['foo']

In [61]:
a = ["foo", "bar"]

while len(a):
    print(a.pop(0))
    
    b = ["baz", 'qux']
    
    while len(b):
        print(">", b.pop(0))
    else:
        print(">inner loop selesai")
else: 
    print("outer loop selesai")

foo
> baz
> qux
>inner loop selesai
bar
> baz
> qux
>inner loop selesai
outer loop selesai

## For Loop

In [63]:
("foz", "bar")

('foz', 'bar')

In [64]:

["foz", "bar"]

['foz', 'bar']

In [65]:
range(5)

range(0, 5)

In [67]:
list (range(5))

[0, 1, 2, 3, 4]

In [68]:
for i in ["foo", "bar"]:
    print(i)

foo
bar

In [69]:
for i in ("foo", "bar"):
    print(i)

foo
bar

In [70]:
for i in {"foo", "bar"}:
    print(i)

bar
foo

In [71]:
d = {"foo" : 1, "bar" : 2, "baz" : 3}
for v in d.values():
    print(v)

1
2
3

## range(start,stop,step)

In [73]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [74]:
for i in range(15,0,-2):
    print(i)

15
13
11
9
7
5
3
1

In [75]:
for i in "range":
    print(i)

r
a
n
g
e

In [83]:
temp = input("Input = temperatur ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = (9 * degree) / 5 + 32

print(temp)
print(degree)
print(i_convertion)
print(result)

100C
100
C
212.0

In [ ]:
temp = input("Input = temperatur ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    o_convertion = "F"
    result_calc = (9 * degree) / 5 + 32
    break
elif i_convertion == "F":
    o_convertion = "C"
    result_calc = int(round(degree - 32) * 5 / 9 )
    break    

result = f"{result_calc}{o_convertion}"

print(temp)
print(degree)
print(i_convertion)
print(result)