## Sesi 2

In [40]:
## code 
a = 5
b = 6
print(a+b)
print('kelas dari b adalah',type(b))

11
kelas dari b adalah <class 'int'>

In [41]:
x = 5
y = 0

if x > y : 
    print("true")

if x > 0 : 
    print("bener")

## tupple
if True : (
    print("bener"),
    
    print("gabener")
)
    
# code block nested
if True :
    print("ya")
    if False :
        print("no")

true
bener
bener
gabener
ya

## IF

In [42]:
if "foo" in ["foo", "bar", "baz"]:
    print("outer cond benar")
    
    if 10 < 20:
        print("cond a")
    
if False : 
    print("a")
else:
    print("b")    
    
# one line
if True: print("a"), print("b")
if True: print("x"); print("y")

outer cond benar
cond a
b
a
b
x
y

In [43]:
harga_buku = 20000
harga_komik = 5000
uang = 2000

if uang > harga_buku:
    print("beli buku")
elif uang > harga_komik:
    print("beli komik")
else: 
    print("uang ga cukup")

uang ga cukup

## Ternary

In [23]:
age = 24 
s = "teen" if age < 21 else "adult"
s

'adult'

In [2]:
age = 24
if age < 21:
    s = "teen"
else:
    s = "old"
s

'old'

In [62]:
raining = False
print("go to the", "beach" if not raining else "library")

go to the beach

## pass

In [ ]:
## pass untuk skip code

if True: 
    pass
print("a")

a

## While Loop

In [ ]:
a = 0
while a < 5: 
    print("terus")
    a -= -1
    print(a)

terus
1
terus
2
terus
3
terus
4
terus
5

## break and continue

In [ ]:
while True:
    print("di dalam while")
    break 
print("di luar while")

di dalam while
di luar while

In [64]:
n = 1
while n < 11:
    print(n)
    if n == 9:
        break
    n += 1
print("n terakhir", n)
print("selesai")

1
2
3
4
5
6
7
8
9
n terakhir 9
selesai

In [69]:
n = 0
while n < 11:
    n += 1
    if n == 5:
        continue    
    print(n)
print("n terakhir", n)
print("selesai")

1
2
3
4
6
7
8
9
10
11
n terakhir 11
selesai

In [78]:
n = 10   
while n > 5:
    n -= 1
    print(n)
else:
    print("selesai")

9
8
7
6
5
selesai

## Truthly and Falsy

In [ ]:
print(bool(5))
print(bool(True))   
print(bool(False))

print("=" * 8)

print(bool("o"))

True
True
False
========
True

In [ ]:
a = ["foo", "bar"]
print(a)
print(a.pop())
print(a)

['foo', 'bar']
bar
['foo']

In [ ]:
a = ["foo", "bar"]

while len(a):
    print(a.pop(0))
    
    b = ["baz", 'qux']
    
    while len(b):
        print(">", b.pop(0))
    else:
        print(">inner loop selesai")
else: 
    print("outer loop selesai")

foo
> baz
> qux
>inner loop selesai
bar
> baz
> qux
>inner loop selesai
outer loop selesai

## For Loop

In [ ]:
("foz", "bar")

('foz', 'bar')

In [ ]:

["foz", "bar"]

['foz', 'bar']

In [ ]:
range(5)

range(0, 5)

In [ ]:
list (range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in ["foo", "bar"]:
    print(i)

foo
bar

In [ ]:
for i in ("foo", "bar"):
    print(i)

foo
bar

In [ ]:
for i in {"foo", "bar"}:
    print(i)

foo
bar

In [8]:
d = {"foo" : 1, "bar" : 2, "baz" : 3}

for a in d:
    print(a)
        
print("-" * 8)   

for v in d.values():
    print(v)

print("-" * 8)    

for i in d.items():
    print(i)
    
print("-" * 8)  
    
for i, v in d.items():
    print(i, v)

foo
bar
baz
--------
1
2
3
--------
('foo', 1)
('bar', 2)
('baz', 3)
--------
foo 1
bar 2
baz 3

In [11]:
for i in {"foo", "bar", "baz", "qux"}:
    if "b" in i:
        continue
    print(i)
else:
    print("loop selesai")

foo
qux
loop selesai

## range(start,stop,step)

In [ ]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
for i in range(15,0,-2):
    print(i)

15
13
11
9
7
5
3
1

In [ ]:
for i in "range":
    print(i)

r
a
n
g
e

In [80]:
temp = input("Input = temperatur ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = (9 * degree) / 5 + 32

print(temp)
print(degree)
print(i_convertion)
print(result)

100C
100
C
212.0

In [19]:
while True:
    temp = input("Input = temperatur ")
    degree = int(temp[:-1])
    i_convertion = temp[-1]

    if i_convertion == "C":
        o_convertion = "F"
        result_calc = (9 * degree) / 5 + 32
        break
    elif i_convertion == "F":
        o_convertion = "C"
        result_calc = int(round(degree - 32) * 5 / 9 )
        break    
    else:
        print("Masukkan input yang benar")

print("Program Konversi Celsius ke Fahrenheit")
print("-" * 40)
result = f"{result_calc}{o_convertion}"

print("temperaturnya adalah = ", result)

Program Konversi Celsius ke Fahrenheit
----------------------------------------
temperaturnya adalah =  212.0F

In [20]:
while True:
    msg = input("masukkan karakter = ").lower()
    print(msg)
    if msg == "stop":
        break

a
aaaaa
wqewqeq
stop